
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inconsolata:700');



/* NAV BAR STUFF */  

*{ 
    margin:0px ; 
    padding:0px ;  
    box-sizing: border-box;
}


nav { 
    display:flex ; 
    justify-content: space-around; 
    align-items: center; 
    min-height: 10px ; 
    background-color: #5d4954; 
    font-family: 'Poppins', sans-serif;
}

.watch-logo { 
    color: white ; 
    text-transform: uppercase; 
    letter-spacing: 5px ; 
    font-size: 22px ; 
}

.navbar-links { 
    display: flex ; 
    justify-content: space-around; 
    width: 35% 
}


.navbar-links li { 
    list-style: none; 
}


.navbar-links a { 
    color: rgb(226,226,226) ; 
    text-decoration: none; 
    letter-spacing: 5px ;  
    font-weight: bold ;  
    font-size: 15px ; 
    cursor: pointer; 
    position: relative ; 
}
/* NAV BAR STUFF */  
 







/* FADE IN & OUT TEXT */ 
.test { 
    margin-top: 25px ; 
    font-size: 15px ; 
    text-align: center; 
    font-family: Arial, Helvetica, sans-serif;

    -webkit-animation: fadein 5s ; /* safari, chrome & opera */ 
    -moz-animation: fadein 5s ; /* firefox */ 
    -ms-animation: fadein 5s ;  /* IE */ 
    -o-animation: fadein 5s ; /* Opera */ 
    animation: fadein 5s;  
} 


@keyframes fadein {    
    from { opacity: 0 ; }  
    to { opacity: 1;} 
}




/* Firefox < 16 */
@-moz-keyframes fadein { 
    from { opacity: 0 ; } 
    to { opacity: 1 ; }  
}



/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein { 
    from { opacity: 0 ; } 
    to { opacity: 1 ; } 
} 

/* IE */ 
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
} 


/* OPERA */ 
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* FADE IN & OUT TEXT END */ 




/*  INTRO & WHY CHOOSE DIVS  */ 



.introductions { 
    text-align: center; 
    margin-top: 200px ; 
    background-color: #eee;
    height: 200px ;
    width: 300px ; 
    border: 0 ; 
    display: flex ; 
    margin-bottom: 30px ;  
    line-height: 35px ; 
}

.parent-column { 
    width: 700px ;
    height: 200px ;  
    background-color: rgb(15, 54, 71) ; 
    display: flex; 
    text-align: center; 
    margin-left: auto ; 
    margin-right: auto ;
    margin-top: 50px ;  
    line-height: 30px ;  
    margin-bottom: 30px ;
    color: white ; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    
    -webkit-animation: fadein 5s ; /* safari, chrome & opera */ 
    -moz-animation: fadein 5s ; /* firefox */ 
    -ms-animation: fadein 5s ;  /* IE */ 
    -o-animation: fadein 5s ; /* Opera */ 
    animation: fadein 5s;  
}




.intro2 { 
    background-color:  rgb(15, 54, 71) ;
    color: white ; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    height: 200px ; 
    text-align: center;
    line-height: 30px;
    margin-bottom: 30px ; 
    width: 700px ;
    height: 200px ; 
    margin-right: auto ; 
    margin-left: auto ; 

    -webkit-animation: fadein 5s ; /* safari, chrome & opera */ 
    -moz-animation: fadein 5s ; /* firefox */ 
    -ms-animation: fadein 5s ;  /* IE */ 
    -o-animation: fadein 5s ; /* Opera */ 
    animation: fadein 5s;  
}
/*  INTRO & WHY CHOOSE DIVS  */ 


